textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 100px;

  resize  : none;
  overflow: auto;
}
button {
    background-color:#92B7F2;
    border: none;
    padding: 10px;
}
button:hover{

}
button:after {

}

button:hover,
button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}