@import url(https://fonts.googleapis.com/css?family=Lora);
#my_back {
    opacity: 0.7;
    margin: 100px;
}
body {margin:0;}
/*.top_navigator {
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);

}*/
.top_navigator li{
    float: right;
    margin: 20px;
}

ul {
  background: #C0D4C6;
  list-style: none;
  margin: 0px;

}
nav {
  display: block;
  width: 100%;
  margin: 0px;
  overflow: visible;
  background-color: #C7D8EC;
  height: 100px;
}

li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
    color: #fff;
}
li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 200px;
  background: #868686;
  transition: all 0.5s linear;
}
li a:hover:after{
  width: 100%;
}
#logo{
    text-align: center;
    with: 100px;
    margin: 20px;
}
#img{
  border: 3px solid #303A84;
  border-radius: 25px;
}
