{% extends "Calendar/page.html" %}

{#{% load widget_tweaks %}#}
{#{{form.datetime_string|attr:"type:date"}}#}

{%  block page %}
    <h2>Add task to calendar {{ calendar.name }}</h2>
    <br>
    <form method="POST">
        {% csrf_token %}
        Title: <br>
        {{ form.name }} <br>
        Description <br>
        {{ form.description }} <br>
        Your name <br>
        {{ form.author }} <br>
        Task deadline <br>
        {{ form.timestamp }} <br>

        <button type="submit" class="btn btn-success">Create</button>
    </form>
{% endblock %}