<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>
        {% if title %}
            {% block title %}
                {{ title }}
            {% endblock %}
        {% else %}
            Calendar
        {% endif %}
    </title>
    {% block head %}
    {% endblock %}
</head>


<body>
 {# Шапка #}
 <nav>
        <div class="top_navigator">
            <div  id="logo_box" style="float:left;">
                <a href="{% url 'index' %}" class="" >
                  <img src="{% static 'img/logo.png' %}" id="img" width="60px">
                </a>
            </div>

            <ul class="navigate_list">
                <li class="top-navigator"><a class="button" href="{% url 'new_calendar' %}" id="main_link" style="border: 1px solid blue;">Create Calendar</a></li>
                <li class="top-navigator"><a class="button" href="{% url 'last_calendar' %}" style="#">Last Calendar</a></li>
            </ul>
        </div>
 </nav>





    {% block body %}

    {% endblock %}



</body>


</html>