<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {% block title %}
                {{ title }}
            {% endblock %}
        {% else %}
            Calendar
        {% endif %}
    </title>
    {% block head %}
    {% endblock %}
</head>


<body>
 {# Шапка #}
    <nav>
        <div class="top_navigator">
            <div  id="logo-box" style="float:left;">
                <h1 id="logo">
                      <a href="http://youtube.com" class="" >
                      <img src="{% static 'img/logo.png' %}" id="img" width="60px">
                    </a>
                </h1>
            </div>
            <ul class="table">
                <li class="top-navigator"><a class="button" href="new" id="main_link" style="border: 1px solid blue;">Create Calendar</a></li>
<!--                            <li class="top-navigator"><a class="button" href="my_calendar" style="margin:0px 10px 0px 0px">My Calendar</a></li>-->
               <li class="top-navigator"><a class="button" href="index" style="#">Homepage</a></li>
               <li class="top-navigator"><a class="button" href="support" style="#">Support</a></li>
            </ul>
        </div>
    </nav>

{% block body %}

{% endblock %}
</body>


</html>