{% extends "Calendar/base.html"%}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Author</th>
        </tr>
        {% if tasks%}
        {% for task in tasks %}
            <tr> <td>{{ task.name }}</td> <td>{{ task.description }}</td> <td> {{ task.author }}</td>
                <td> {{ task.timestamp }}</td> <td> {{ task.hour }} Hour {{ task.minute }} minute</td> </tr>
        {%  endfor %}
        {% else %}
            В этом календаре нет задач
        {% endif %}
    </table>
    <button onclick="location.href = '{{ calendar }}/add'">Create Task</button>



{% endblock %}