{% extends 'Calendar/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" type="text/css">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/some_js.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="all">
        <div class="month_navigate">
            <ul class="navigate">
                <li class="li_left">
                    <div class="content">
                        <a href="{{ previous_link }}"> <i class="arrow left"></i></a>
                    </div>
                </li>
                <li class="li_center">
                    <div class="content">
                        {{ current_month }}
                    </div>
                </li>
                <li class="li_right">
                    <div class="content">
                        <a href="{{ next_link }}"> <i class="arrow right"></i></a>
                    </div>
                </li>
            </ul>
            <table>
                {% for weak in month_string  %}
                   <tr>
                       {% for date in weak %}
                            <th>
                                {% for date_key, day_num in days.items %}
                                    {% if date == date_key %}
                                        {{ day_num }}
                                    {% endif %}
                                {% endfor %}
                            </th>
                        {% endfor %}
                   </tr>


                    <tr>
                        {% for date in weak %}
                        <td id="tasks">
                            <ul>
                                {% for day_dict, day_tasks in tasks.items %}
                                {% if day_dict == date %}
                                    {% for task in day_tasks %}
                                        <li><a href=" {% url 'task' calendar.path task.id %}">{{ task.name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            </ul>
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="today_task">
            <h2>
                Today Task
            </h2>
            <ul>
                {% for task in today_task %}
                    <li>
                        <h3>{{ task.name }}</h3>
                        <p>
                            {{ task.description }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
            <div>
                <button onclick="location.href = '/{{ calendar.path }}/add'">Create Task</button>
            </div>
<!--            <a href="#">Copy link to Calendar</a>-->
            <h2>Generated Share Links</h2>
            <textarea id="share-links"></textarea>
            <br>
            <button>Copy to Clipboard</button>
        </div>
    </div>






{% endblock %}