{% extends 'Calendar/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" type="text/css">
{% endblock %}
{% block body %}
<table id="calendar">
    {% for weak in month_string  %}
        <tr>
            {% for date in weak %}
                <th> {{ date }} </th>
                <td id="tasks">
                    {% for day_dict, day_tasks in tasks.items %}
                        {% if day_dict == date %}
                            {% for task in day_tasks %}
                                <a href=" {% url 'task' calendar.path task.id %}">{{ task.name }}</a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %} </td>
            {% endfor %}
        </tr>

    {% endfor %}
</table>

<a href="{{ previous_link }}"> <button>Previous</button></a>
<a href="{{ next_link }}"> <button>Next</button></a>

{% endblock %}