{% extends 'Calendar/base.html' %}
{% block body %}
<table>
    {% for weak in month_string  %}
        <tr>
            {% for date in weak %}
                <th> {{ date }} </th>
                <th>
                    {% for day_dict, day_tasks in tasks.items %}
                        {% if day_dict == date %}
                            {% for task in day_tasks %}
                                {{ task.name }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %} </th>
            {% endfor %}
        </tr>

    {% endfor %}
</table>

<a href="{{ previous_link }}"> <button>Previous</button></a>
<a href="{{ next_link }}"> <button>Next</button></a>

{% endblock %}