{% extends "Calendar/base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/task.css' %}" type="text/css">

{% endblock %}

{% block body %}
    <div class="parent">
        <div class="child Task">

            <h1>Task {{ task.name }}</h1>
            <p>Description: {{task.description}}</p>
            <p>Author: {{task.author}}</p>
            <div>
                <a href="/{{ calendar.path }}"><button>Back</button></a>
            </div>
        </div>
        <div class="child day_tasks">
            <div class="#">
                {% for day_task in task_day %}
                    <a href="{{ day_task.id }}">{{ day_task.name }}</a>
                    <br>

                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}