{% extends "Calendar/base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/task.css' %}" type="text/css">

{% endblock %}

{% block body %}
    <div class="parent">
        <div class="child Task">

            <h1> {{ task.name }}</h1>
            <p> {{task.description}}</p>
            <p>Author: <i>{{task.author}}</i></p>
            <div>
                <a href="/{{ calendar.path }}"><button>Back</button></a>
            </div>
        </div>
        <div class="child day_tasks">
            <div class="#">
                {% for day_task in task_day %}
                    <div>
<!--                        <span>-->
<!--                            {{ day_task.date_time.hour }} : {{ day_task.date_time.minute }}-->
<!--                        </span>-->

                        <a href="{{ day_task.id }}">{{ day_task.name }}</a>
                    </div>

                    <br>

                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}